.header {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin-bottom: 100px;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--grey-light);
}
